
* {
    background-color: rgb(28, 26, 26);
    font-family: monospace;
}

h1 {
    font-size: 4em;
    color: darksalmon;
}

.main {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game-board {
    width: 50vh;
    height: 50vh;
    background-color: darkolivegreen;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    
}

.card {
    border: 3px solid;
    border-color: darksalmon;
}