
* {
    background-color: rgb(28, 26, 26);
    font-family: monospace;
    color: darksalmon;
}

h1 {
    font-size: 4em;
    margin: 0;
}

.score {
    margin: 1em;
    margin-bottom: 2em;
    display: flex;
    gap: 4em;
}

.main {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-board {
    width: 70vh;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
    background-position: center;
}

.card-back {
    background-image: url(./pictures/backside.jpg) !important;
}

.new-game-btn {
    background-color: darksalmon;
    color: rgb(28, 26, 26);
    width: 100px;
    height: 30px;
    border-radius: 3px;
    margin: 2em;
    border: none;
}

.new-game-btn:active {
    color: darkolivegreen;
}

